template( name="home" )

	#home.page


		#scene

			.leaderboard

				h1 LEADERBOARD

				ol

					each players

						li.player {{ username }}

			.bullet-count BULLET COUNT: {{ bullets }}

			.health 
				span {{ health }}
				span HEALTH

		if noUsername

			form.username

				.enter-name
					h1 WELCOME!
					span PLEASE CREATE A USERNAME BELOW

				input( type="text" name="text" maxlength="12" )

				button.disabled( type="submit" ).save-name SAVE